@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Noto+Sans+JP:wght@300;400;700;900&family=PT+Sans:ital,wght@0,700;1,700&display=swap');



* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Noto Sans JP', sans-serif;
}

.row {
    max-width: 960px;
    margin:auto;
}

a {
    text-decoration: none;
}
ul{
    margin:0;
    padding:0;
    margin-bottom:10px;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}

section {
    padding: 80px 20px;
}
a:hover{
    color:#fff;
    text-decoration:none;
}

/* hero Section   */

.slider ul{
    width:100%;
    height:100vh;
}

#hero {
    background: linear-gradient(rgba(51, 52, 80, 0.8), rgba(51, 52, 80, 0.8)), url(../img/hero.jpg) no-repeat center/cover;
    height: 100vh;
}


.nab-bar {
    margin-top: 500px;
}

.logo {
    float: left;
    color: #fff;
    font-size: 200%;
    margin-top: 18px;
    margin-left: 10px;
}

.icons {
    float: right;
    font-size: 80%;
    border: 1px solid #2AA876;
    background: #2AA876;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
    color: #fff;
    padding:5px 10px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    color: #fff;
}

.hero-text h1 {
    font-size: 300%;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
}

.hero-text p {
    font-size: 120%;
    margin-bottom: 70px;
}

.btn {
    border: 1px solid #2AA876;
    background: #2AA876;
    color: #fff;
    font-size: 70%;
    padding: 15px 40px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

.uk-sticky-fixed{
    background:rgba(42, 168, 118, 0.7);
}
.uk-sticky-fixed .logo{
    margin-top:0;
    padding:10px 0;
}
.uk-sticky-fixed .icon{
    margin:0;
    padding:10px 0;
    background:#2AA876;
    color:aqua;
}
/* services section */
.grid-services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    text-align: center;
}

.grid-services-item ion-icon {
    font-size: 350%;
    color: #B51310;
    margin-bottom: 15px;
}

.grid-services-item h5 {
    font-size: 110%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.grid-services-item p {
    font-size: 90%;
    margin-bottom: 30px;
}

/* ppts paer desigb */

.grid-ppts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-ppts-item img {
    width: 100%;
    height: 100%;
}

/* team section */



.social-icon {
    text-align: center;
    margin-top: 20px;
}

.social-icon ul {}

.social-icon ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

.social-icon ul li a {
    border: 1px solid #035B96;
    padding: 5px 10px;
    background: #035B96;
    color: #fff;
    border-radius: 5px;
}

.social-icon ul li a:hover {
    background: #63ACE5;
    border-color: #63ACE5;
    color: #E7EFF6;
}

.grid-team-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.gird-team-item {
    text-align: center;
}

.gird-team-item img {
    width: 100%;
}

.gird-team-item span {
    margin: 10px 0;
    display: inline-block;
    font-size: 100%;
    color: #EE4035;
}

.gird-team-item h5 {
    font-size: 150%;
    margin: 10px 0;
}


/* testomonial section */

.grid-testomonial-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-testomonial-item img {
    width: 100%;
}
.grid-testomonial-item p{
    padding:10px 20px;
    font-size:140%;
    margin-top:30px;
}
.grid-testomonial-item:nth-child(2){
    background:#523549;
   
}
.grid-testomonial-item img{
    height:100%;
}
.grid-testomonial-item h6{

    padding:10px 20px;
    font-size:170%;
}

.uk-dotnav a{
    color:#fff;
    border-color:#fff;
}
.uk-dotnav a:hover{
    background:#fff;
}
.uk-dotnav > .uk-active > *{
    background:#fff;
}
/* download for free */

#download {
    text-align: center;
}

#download h2 {
    font-size: 200%;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#download h5 {
    margin-bottom: 50px;
    font-size: 80%;
}

footer {
 
    padding:80px 20px;
    text-align: center;
    background: #3A3E64;
    color: #fff;
}

.grid-footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-footer-item h4 {
    margin-bottom: 35px;
    text-transform: uppercase;
    color:#fff;
}

.grid-footer-item .social-icon {
    margin-top: 50px;
}

.copy {
    background: #313455;
}

.copy p {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}
/* login account */
#login{
    background:antiquewhite;
    height:100vh;
}

.title{
    font-size:250%;
    color:#63ACE5;
    margin-bottom:20px;
    text-transform:capitalize;
}
.grid-login-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap:20px;
}

.login-page{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.grid-space{
    display:grid;
    grid-template-columns:1fr 1fr;
    text-align:left;
}
.repassed{
    text-align:right;
}
.repassed a:hover{
    color:#000;
}
.submit{
   background:brown;
    padding:10px 20px;
    color:#fff;
    display:inline-block;
    border-radius:5px;
}
.login-page{
    width:50%;
    background:aqua;
    color:#fff;
    padding:20px 50px;
    text-align:center;
    border-radius:5px;
    box-shadow:1px 2px 25px darkslategray;
    color:
        
}
.space{
    padding:15px 0;
}
input{
    width:100%;
    height:40px;
    padding:10px;
    font-size:100%;
    border-radius:5px;
    border:none;
    color:#000;
}
input:focus{
    border:none;
    outline:none;
    color:
}
.title p{
    font-size:40%;
    border-bottom:2px solid #fff;
    color:#fff;
    padding-bottom:5px;
}






















